{% load staticfiles %}
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bangladesh Bank</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static 'css/css/tooplate_style.css' %}" rel="stylesheet" type="text/css" />
<!--   Free Website Template by t o o p l a t e . c o m   -->
</head>
<body>

<div id="tooplate_wrapper">
	<div id="tooplate_header">
        <div id="site_title"><h1><a href="#">Banglaesh Bank</a></h1></div>
        
        <div id="tooplate_menu">
            <ul>
                <li><a href="index.html" class="current">Home</a></li>
                <li><a href="{% url 'account_new' %}">New Account</a></li>
                <li><a href="blog.html">Deposit</a></li>
                <li><a href="gallery.html">widraw</a></li>
                <li><a href="contact.html" class="last">Contact</a></li>
            </ul>    	
        </div> <!-- end of tooplate_menu -->
    
	</div> <!-- end of forever header -->
    
    <div id="tooplate_main">
		
        <div id="tooplate_middle">
        	<div class="mid_box">
            	<h2>Mission</h2>
                <p>Dutch-Bangla Bank engineers enterprise and creativity in business and commitment to social responsibility. </p>
            </div>
            <div class="mid_box">
            	<h2>Vision</h2>
                <p>Dutch-Bangla Bank dreams of better Bangladesh, sports and athletics, music and entertainment, science etc.</p>
            </div>
            <div class="main_box">
				<div class="main_box_title"> <span>Dutch-Bangla Bank Anytime Anywhere Anytime Your Trusted Partner </span></div>
     
                <a class="learn_here" href="#">Learn Here</a>
            </div>
            <div class="cleaner"></div>
        </div>
        
        <div id="tooplate_content">
        	
            <div class="col_w900">
            	<div class="col_allw280 fp_service_box">
                	<div class="con_tit_01">
VISA Classic Card</div>
                    <img src="{% static 'css/images/onebit_08.png' %}" alt="Image 08" />
                    <p>  Key Features:<br>

    1 time fee life time free under 15 transactions <br>
    45 days interest free period<br>
    1st Free card cheque book<br>
    Free Supplementary Card<br>
    Lowest card cheque processing fee<br>
    Immediate Cash advance facilities<br>
    Transaction alert facilities
.</p>
					<a class="more" href="#">Detail</a>
                </div>
				
				<div class="col_allw280 fp_service_box">
                	<div class="con_tit_01">Key Features of Gold Card:</div>
                    <img src="{% static 'css/images/onebit_15.png' %}" alt="Image 15" />
                    <p> 

Zero Annual Fees: It is a great opportunity of the Standard Bank Credit Card holders to enjoy the life time credit card facilities without any annual fee. Card holder can avail this facility by using his/her credit card at point of sales 15 times in a year. At SBL we called it Zero Annual Fee Card.<br>

Lowest Card Cheque Processing Fee: SBL is the only Bank that offers lowest card cheque processing fee. A card holder can avail card cheque facilities as many times as possible depending on his/her available credit limit. Only 1% excluding VAT as a processing fee will charge on the placed amount.<br> </p>
                    <a class="more" href="#">Detail</a>
                </div>
                
				<div class="col_allw280 fp_service_box col_last">
                	<div class="con_tit_01">Current Deposit Account</div>
                    <img src="{% static 'css/images/onebit_16.png' %}" alt="Image 16" />
                    <p>Current Deposit Account is the net flow of current transactions with no restriction. It is an easy-to-use, convenient current account. Current Deposit Accounts are suitable for those customers who need unlimited transactions because of no restriction on withdrawal either in amount or in frequency.
Interest Rate : Nil
Cheque-book facility<a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                    <a class="more" href="#">Detail</a>
                </div>
                
				<div class="cleaner h60"></div>
				
				<div class="col_allw280 fp_service_box">
                	<div class="con_tit_01">eStatement</div>
                    <img src="{% static 'css/images/onebit_17.png' %}" alt="Image 17" />
                    <p>Help save the planet with Standard Chartered by switching to an online account statement, which means you receive an eStatement each month, reducing paper consumption in Bangladesh </p>
                    <a class="more" href="#">Detail</a>
                </div>
				
				<div class="col_allw280 fp_service_box">
                	<div class="con_tit_01">ATM Service</div>
                    <img src="{% static 'css/images/onebit_18.png' %}" alt="Image 18" />
                    <p>IBBL has introduced its ATM Banking service since 2000. Being the largest in online connectivity among the branches we are capable of providing the better customer service to our clints.

Services<br> 

    Cash Withdraw<br> 
    Fund Transfer<br> 
    Mini Account Statement<br> 
    Balance Inquiry<br> 

</p>
                    <a class="more" href="#">Detail</a>
                </div>
				
				<div class="col_allw280 fp_service_box col_last">
                	<div class="con_tit_01">Worldwide</div>
                    <img src="{% static 'css/images/onebit_19.png' %}" alt="Image 19" />
                    <p>Suspendisse metus felis, varius at euismod eu, egestas eu elit ante ipsum primis in orci luctus.</p>
                    <a class="more" href="#">Detail</a>
                </div>
                
                <div class="cleaner"></div>
            
			</div>
            
            <div class="col_w900 col_w900_last">
            	<div class="con_tit_02">RESIDENT FOREIGN CURRENCY (RFC) DEPOSIT</div>
                
				<div class="col_allw280 lp_box">
                    <a href="#"><img src="{% static 'css/images/tooplate_image_01.jpg' %}" alt="Image 01" /></a>
                    <p>

Dutch-Bangla Bank Limited gives oppotunity to maintain foreign currency account thorugh it's Authorized Delear Branches.Bangladesh nationals residing abroad or Foreign nationals residing abroad or Bangladesh and foreign firms operating in Bangladesh or abroad or Foreign missions and their expatriate employees. </p>
                    <a class="more" href="#">More</a>
            	</div>
                
				<div class="col_allw280 lp_box">
                    <a href="#"><img src="{% static 'css/images/tooplate_image_02.jpg' %}" alt="Image 02" /></a>
                    <p>Dutch-Bangla Bank believes in its uncompromising commitment to fulfill its customer needs and satisfaction and to become their first choice in banking. Taking cue from its pool esteemed clientele, Dutch-Bangla Bank intends to pave the way for a new era in banking that upholds and epitomizes its vaunted marquees "Your Trusted Partner"</p>
                    <a class="more" href="#">More</a>
            	</div>
				
				<div class="col_allw280 lp_box col_last">
                    <a href="#"><img src="{% static 'css/images/tooplate_image_03.jpg' %}" alt="Image 03" /></a>
                    <p>When you send your hard-earned money from abroad to dear ones at the farthest end of Bangladesh, ask them to collect it from over 3,500 pay out locations of BRAC Bank.
Every month, Probashi Banking executes around 150,000 transactions; which has made BRAC Bank one of the largest players among private commercial banks in channelizing inward remittance in the country. .</p>
                    <a class="more" href="#">More</a>
                </div>
                
				<div class="cleaner"></div>
            </div>
            
        </div> <!-- end of content -->
        
    </div> <!-- end of main -->
    
    <div id="tooplate_footer">
    	Copyright © 2017 <a href="#">Dutch-Bangla</a>
	</div> <!-- end of footer -->
    
</div> <!-- end of wrapper -->
<!--   Free Website Template by t o o p l a t e . c o m   -->
</body>
</html>
